body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
  }
  
  .firstName {
    text-align: center;
    width: auto;
    height: 20px;
    font-size: 2em;
    margin-top: 50px;
  }
  .lastName {
    text-align: center;
    height: 20px;
    font-size: 2em;
  }
  
  .name-container {
    text-align: center;
    height: 20px;
    color: cornflowerblue;
    margin: 10% 10px 0;
  }

  .login-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    width: 100px;
    background-color: cadetblue;
  }
  
  